.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0px;
    flex-wrap: wrap;
    text-align: center;
}

.card-title {
    font-family: 'Dosis', sans-serif;
}

.card-image {
    width: 150px;
    height: 150px;
    background-color: black;
    margin: 10px;
}

.card-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 300px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 15px #23272e;
}

.card-details {
    margin: 10px;
}

.card-details>#bio {
    margin: 0px 10px;
}

.card-details>p {
    margin: 5px 0px;
    border: 1px solid black;
    padding: 5px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 5px;
}