.navbar-wrapper {
    display: flex;
    justify-content: space-between;
    /* background-color: grey; */
    width: 100%;
    overflow: hidden;
    background-color: black;
    color: white;
    border-bottom: 1px solid white;
}

.navbar-links {
    display: flex;
    align-items: center;
    color: white;
}

.navbar-links>a {
    font-family: 'Dosis', sans-serif;
    font-size: 18px;
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 8px white;
    margin: 5px 58px;
    border-bottom: 1px solid transparent;
    transition: 0.5s ease-in-out;
}

.navbar-links>a:hover {
    border-bottom: 1px solid white;
    border-bottom-width: thin;
}

.navbar-wrapper>.navbar-logo>h1 {
    font-family: "Dancing Script", cursive;
    font-size: 55px;
    margin: 20px;
    text-shadow: 1px 1px 8px white;
}

.username-text-wrapper {
    font-family: 'Dosis', sans-serif;
    display: flex;
    align-items: center;
    padding: 20px;
}